# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\dell-pc\Documents\UNI\Engenharia de Software\ES_PL3_2191258_2182219_2181459_2182306\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
